asgiref==3.11.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
mysql==0.0.3
mysqlclient==2.2.8
packaging==26.2
PyJWT==2.13.0
python-dotenv==1.2.2
SQLAlchemy==2.0.50
sqlparse==0.5.5
typing_extensions==4.15.0
